.sidebar {
    width: 280px;
    background-color: #242526;
    color: #e4e6eb;
    padding: 1.25rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
    min-width: 50px;
}

.sidebar.collapsed {
    width: 50px;
    overflow: hidden;
}

.sidebar.collapsed h2,
.sidebar.collapsed .form-group,
.sidebar.collapsed p {
    display: none;
}

.sidebar.collapsed:hover {
    width: 280px;
}

.sidebar h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.form-group {
    margin-bottom: 1.25rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.form-group select,
.form-group input[type="text"],
.form-group textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #444;
    background-color: #3a3b3c;
    color: #e4e6eb;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.2s ease;
}

.form-group select:focus,
.form-group input[type="text"]:focus,
.form-group textarea:focus {
    border-color: #00a86b;
    outline: none;
}

#conversation-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.conversation-list-container {
    height: 300px;
    overflow-y: scroll;
    background-color: inherit;
}

#conversation-list li {
    padding: 0.5rem;
    border-bottom: 1px solid #444;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#conversation-list li:last-child {
    border-bottom: none;
}

#conversation-list li:hover {
    background-color: #3a3b3c;
}

#conversation-list li.active {
    background-color: #00a86b;
    color: #242526;
}

#conversation-list li i {
    margin-left: 0.5rem;
    color: #8a8d91;
    transition: color 0.2s ease;
}

#conversation-list li:hover i {
    color: #e4e6eb;
}

#delete-all-conversations-button {
    background: none;
    color: #8a8d91;
    border: none;
    cursor: pointer;
    transition: color 0.2s ease;
    float: right;
}

#delete-all-conversations-button:hover {
    color: #e4e6eb;
}

.dark-mode-switch-header {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.dark-mode-switch-header label {
    margin-right: 0.5rem;
}

.dark-mode-switch-header input[type="checkbox"] {
    width: auto;
}

/* Styles for the active tools container */
.active-tools-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}